@page
@model TuseAwesomeApiWeb.Pages.Admin.User.IndexModel
@{
}


<div class="border backgroundWhite container shadow">
    <div class="row">
        <div class="col-9 text-nowrap">
            <h2 class="text-success">
                <i class="bi bi-cloud-plus"></i>&nbsp;Add Users to the Database
            </h2>
        </div>


    </div>
    <hr />

</div>